@import './reset.scss', './variables.scss', './preloader.scss', './pages.scss', './cards.scss', './theme-toggle-button.scss';

@font-face {
    font-family: 'star-jedi';
    src: url('../assets/fonts/Starjedi.ttf');
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    padding: 0 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color $base-time $curve-2;
    background-color: $snow-white;

    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 1280px;
    }

    *:not(.category-title) {
        color: $black-color;
    }

    svg {
        fill: $black-color;
    }

    &.dark {
        background-color: $dark-bg-color;

        * {
            color: $snow-white;
        }

        svg {
            fill: $snow-white;
        }
    }
}

header {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >ul {
        display: flex;
        gap: 20px;
    }

    .header-link {
        position: relative;
        overflow-y: auto;
        height: 22px;

        &::first-letter {
            text-transform: uppercase;
        }

        >.line {
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: $sw-yellow-color;
            transform: translateX(-100%);
            transition: transform $base-time $curve-1;
        }

        &.active,
        &:hover {
            >.line {
                transform: translateX(0);
            }
        }
    }
}

.cards-list {
    display: grid;
    gap: 20px;

    &.films,
    &.characters {
        grid-template-columns: repeat(4, 1fr);
    }

    &.planets {
        grid-template-columns: repeat(5, 1fr);
    }

    >.film-card {
        opacity: 0;
        animation: show .5s $curve-2 forwards;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: calc(#{$i} * 0.1s);
            }
        }
    }
}


footer {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .social-list {
        display: flex;
        gap: 10px;
    }

    .social-link {
        display: flex;
        gap: 5px;
        transition: color $base-time $curve-1 ;

        >svg {
            width: 15px;
            height: 15px;
            transition: fill $base-time $curve-1 ;
        }

        &:hover {
            color: $cta-color;

            >svg {
                fill: $cta-color;
            }
        }
    }
}

.image-wrapper {
    position: relative;
    background-color: rgba(190, 184, 184, 0.6);

    &.loaded {
        background-color: transparent;

        >img {
            opacity: 1;
        }
    }

    &:before {
        display: block;
        content: '';
    }

    >img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: cover;
        opacity: 0;
        transition: opacity .3s ease-in;
    }
}


.categories-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.category-card {
    position: relative;

    .image-wrapper {
        overflow: hidden;

        img {
            object-fit: cover;
            transition: transform $base-time $curve-2;
        }

        &::before {
            padding-top: 50%;
        }
    }

    .category-title {
        padding: 5px 0;
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'star-jedi';
        transition: color $base-time $curve-2;
        color: $snow-white;
    }

    &:hover {
        .image-wrapper img {
            transform: scale(1.1);
        }

        .category-title {
            color: $sw-yellow-color;
        }
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes textAppeareance {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}