@import './reset.scss', './variables.scss';

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #161616;

    * {
        color: #fff;
    }
}

.App {
    margin: 0 auto;
    max-width: 1280px;
}

header {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;

    >ul {
        display: flex;
        gap: 20px;
    }
}

.cards-list {
    display: grid;
    gap: 40px;

    &.films {
        grid-template-columns: repeat(4, 1fr);
    }
}

.page-title {
    margin: 40px 0;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}

.film-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    cursor: pointer;

    >.image-wrapper {
        position: relative;

        &:before {
            display: block;
            content: '';
            padding-top: 120%;
        }

        >img {
            // border-radius: 25px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }

    >h2 {
        text-align: center;
    }
}

footer {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .social-list {
        display: flex;
        gap: 10px;
    }

    .social-link {
        display: flex;
        gap: 5px;
        transition: color $base-time $curve-1 ;

        >svg {
            fill: #fff;
            width: 15px;
            height: 15px;
            transition: fill $base-time $curve-1 ;
        }

        &:hover {
            color: $cta-color;

            >svg {
                fill: $cta-color;
            }
        }
    }
}