.film-content {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.page-title {
    margin: 40px 0;
    font-size: 50px;
}

.film-page {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 40px;

    .image-wrapper {
        >img {
            border-radius: 25px;

        }

        &:before {
            padding-top: 120%;
        }
    }

    .right-side {
        >h1 {
            font-size: 40px;
        }

        >.short-info {
            margin: 30px 0;
            display: flex;
            justify-content: space-between;

            >p {
                font-size: 14px;
                display: flex;
                gap: 10px;
                flex-direction: column;

                >span {
                    font-size: 13px;
                    opacity: 0.7;
                }
            }
        }

        >.about {
            display: flex;
            flex-direction: column;
            gap: 10px;

            >p {
                line-height: 23px;
                font-size: 14px;
            }

            >span {
                font-size: 13px;
                opacity: 0.7;
            }
        }
    }
}

.planet-page {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 40px;

    .image-wrapper {
        >img {
            border-radius: 25px;

        }

        &:before {
            padding-top: 120%;
        }
    }

    .right-side {
        >h1 {
            margin-bottom: 40px;
            font-size: 40px;
        }

        >ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            >li {
                overflow: hidden;

                >p {
                    font-size: 16px;
                    transform: translateY(150%);
                    animation: textAppeareance .5s ease-in forwards;

                    >span {
                        font-size: 18px;
                        opacity: 0.7;
                    }
                }

                @for $i from 1 through 10 {
                    &:nth-of-type(#{$i})>p {
                        animation-delay: calc(#{$i} * 0.1s);
                    }
                }
            }
        }
    }
}