$dark-bg-color: #121212;
$black-color: #000000;
$snow-white: #ffffff;
$cta-color: #3984ff;
$sw-yellow-color: #FFE81F;

$base-time: 0.3s;
$curve-1: ease-in;
$curve-2: ease;

.App {
    --card-border-color: rgba(255, 255, 255, 0.3);
    --card-border-hover-color: rgba(255, 255, 255, 0.6);

    &.white {
        --card-border-color: rgba(0, 0, 0, 0.3);
        --card-border-hover-color: rgba(0, 0, 0, 0.6);
    }
}